/* =================== MAIN =================== */

*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

html {
    /* background-color: #F7F9FB; */
    background-color: white;
}

#all {
    margin: 2rem 4rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
}

.flex-wrapper {
    min-height: 95vh;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

/* hide from screen readers when it's hidden visually */
.hide {
visibility: none;
display: none;
}

/* ============= UNVERLINE ON HOVER ============= */

.hov {
    display: inline;
    position: relative;
    z-index: 2;
    padding-bottom: 1px;
    cursor: pointer;
}

.hov:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 3px;
    height: 3px;
    padding-top: 5px;
    left: 0%;
    top: 99%;
}

.hov:after {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.hov:hover:after {
    width: 100%;
    height: 3px;
}

.hov:hover:after, .hov:focus:after {
    outline: 0;
    background-color: rgb(228, 98, 90);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* =================== TEXT =================== */

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin: 3rem 0 0 0;
    line-height: 1.5;
    color: black;
    text-align: left;
}

h2 {
    color: #7a7e82;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: normal;
    line-height: 1.5;
    text-align: left;
}

p {
    line-height: 1.8;
    font-size: 15px;
}

/* =================== NAV =================== */

#nav {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.navlinks {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #7a7e82;
    margin: 1rem 1rem 1rem 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: left;
}

/* =================== ABOUT =================== */

#about {
    /* margin: 0 auto; */
    display: none;
    width: 85%;
}

#aboutWrapper {
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    margin: 3rem 0 0 0;
}

#aboutLeftCol {
    margin: 1.5rem 0 0 0;
}

#aboutRightCol {
    margin: 1.5rem;
}

#me {
    width: 100%;
    max-width: 1000px;
    min-width: 200px;
}

#about p {
    color: #7a7e82;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 1rem 0;
}

#about a {
    font-weight: 600;
    text-decoration: none;
    color: #1D263F;
}

.connect {
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.connect li {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    color: #adadad;
    text-align: center;
    line-height: 2;
    margin-right: 1rem;
}

/* =================== PROJECTS =================== */

#work {
    margin: 3rem 0 0 0;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
}

/*=================== Individual Project Card ===================**/

.project {
    position: relative;
    width: 30%;
    /* overflow: hidden; */
    margin-right: 3.3%;
    margin-bottom: 3rem;
    flex-shrink: 1;
    min-width: 250px;
    max-width: 550px;
}

.projectimg {
    width: 100%;
    display: block;
    margin: 0;
    overflow: hidden;
    /* box-shadow: 0 0 70px #ddd; */
    border: 1px solid rgb(209, 209, 209);
}

.projectimg img {
    max-width: 100%;
    transform: scale(1.05);
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.project:hover img {
    -moz-transform: scale(1.09);
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
    filter: brightness(15%);
    cursor: pointer;
}

.cardTitle {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 0rem 0;
    padding: 0;
    z-index: 1000;
}

.photo-text {
    display: flex;
    align-items: center;
    z-index: 1000;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 3rem 0 0 0;
    position: absolute;
    top: auto;
    bottom: 0;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 50%;
    padding: 2rem;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: opacity 0.1s 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.1s 0.3s, -webkit-transform 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s, -webkit-transform 0.3s;
}

.photo-text h3 {
    color: white;
}

.photo-text:hover {
    cursor: pointer;
}

.project:hover .photo-text {
    opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-transition: opacity 0.1s, -webkit-transform 0.4s;
      transition: opacity 0.1s, -webkit-transform 0.4s;
      transition: transform 0.4s, opacity 0.1s;
      transition: transform 0.4s, opacity 0.1s, -webkit-transform 0.4s;
    }

.mobileTitle {
    display: none;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* =================== SINGLE PROJECT =================== */

#singleProject {
    display: none;
    display: flex;
    flex-direction: column;
}

.back {
    /* margin: 3rem 1.5rem 1rem 0; */
    align-self: flex-start;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #adadad;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.single {
    display: none;
    display: flex;
    margin: 0rem 0 0 0;
}

.singleLeftCol {
    margin: 1.5rem 0 0 0;
    flex: 1;
}

.singleRightCol {
    margin: 1.5rem;
    flex: 2;
}

.single img {
    width: 100%;
    max-width: 800px;
    min-width: 200px;
    width: 100%;
    box-shadow: 0 0 70px #ddd;
    padding: 5px;
    display: block;
    margin: 0 0 1rem 0;
}

iframe {
    width: 100%;
    height: 600px;
}

.viewProject {
    font-size: 15px;
    font-weight: 700;
    /* letter-spacing: 2px; */
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.title {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 0rem 0;
}

.desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: .5rem 0;
}

.tech {
    font-family: 'Open Sans', sans-serif;
    color: #adadad;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.pub {
    font-family: 'Open Sans', sans-serif;
    color: #adadad;
    font-style: italic;
}

/* =================== FOOTER =================== */

footer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #adadad;
    letter-spacing: 1.5px;
}

footer p {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 75%;
}

/* =================== SOCIAL =================== */

#social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#social ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

#social i {
    margin: 0 1rem 1rem 0;
    color: #adadad;
    font-size: 20px;
}

#social i:hover {
    filter: opacity(50%);
}

/* =================== MEDIA QUERIES =================== */

@media only screen and (min-width: 1300px) {
    #all {
        margin: 3rem 8rem 3rem 8rem;
    }
}


@media only screen and (max-width: 1000px) {
    .project {
        flex-grow: 1;
    }
}

@media only screen and (max-width: 900px) {
    #all {
        margin: 1rem 2rem 1rem 2rem;
    }
    h1 {
        font-size: 48px;
    }
    #about {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {

    #aboutWrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 2rem 0 0 0;
    }

    #aboutLeftCol {
        margin: 0rem;
    }

    #aboutRightCol {
        margin: 2rem 0 0 0;
    }

    .single {
        flex-wrap: wrap;
        margin: 2rem 0 0 0;
    }

    .singleLeftCol {
        margin: 0rem;
        flex: none;
        width: 100%;
    }

    .singleRightCol {
        margin: 2rem 0 0 0;
        flex: none;
        width: 100%;
    }

    .mobileTitle {
        display: block;
        cursor: pointer;
        margin-bottom: 3rem;
    }

    .projectimg:hover img {
        filter: none;
    }

    .photo-text {
        display: none;
    }

    .project:hover img {
        filter: brightness(100%);
        cursor: pointer;
    }

}

@media only screen and (max-width: 595px) {
    .project {
        margin-right: 0;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 12px;
    }
}

@media only screen and (max-width: 401px) {
    .project {
        margin: 0;
    }
    #work {
        margin: 1rem 0 2rem 0;
    }

    #all {
        margin: 1rem 1rem 1rem 1rem;
    }

    #intro h2 {
        letter-spacing: 0;
    }
}

@media only screen and (max-width: 350px) {

    h1 {
        font-size: 30px;
    }
}
