
body {
	background-color: rgb(216, 232, 238);
}
.btn-group {
	margin: 15px;
	align-items: center;
	align-content: center;
}


footer, meta, p {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;

}

.byline {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.meta {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;

}
.chart {
  height: 500px;
}

h1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 50px;
}

h2 {
	margin-top: .5em;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif	;
	font-size: 20px;
	font-weight: lighter;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
	stroke-weight: 4px;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
	stroke-weight: 3px;
}

.name {
	font-size: 11px;
}
